*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

/*HEADER*/



.contenitore-header{
    width: 172px;
    background-color: black;
    color: #959595;
    height: 841px;
    position: absolute;
    top: 0px;
    height: calc(100% - 90px);
}

.spotify{
    width: 166px;
    padding: 10px 15px 15px;
}

.cont-icone-parole{
    padding: 5px 15px;
}

.cont-icone-parole:hover verde{
    display: block;
}


.bordo-verde{
    width: 33px;
    margin-left: -13px;
    margin-right: 6px;
    text-align: end;
    border-left: 3px solid greenyellow;
   
    
}



.testo-icone{
    font-size: 16px;
    font-weight: 500;
}

.testo-icone:hover{
    color: white;
}

.grosso{
    font-weight: 600;
    color: white;
}

.fa-solid{
    margin-right: 5px;
    font-size: 20px;
    color: white;
}

.fa-list{
    color: white;
}


.titolo-playlist{
    text-transform: uppercase;
    padding: 5px 15px;
    margin-top: 20px;
}


.fa-square-plus{
    font-size: 38px;
    margin-right: 5px;
    color: white;
}

.playlist{
    margin: 8px 5px 0px 4px;
}

.lista-playlist{
    list-style-type: none;
}

.testo-playlist{
    padding: 5px 15px;
    font-size: 15px;
    
}

.testo-playlist:hover{
    color: white;
}

.contenitore-john{
    position: absolute;
    bottom: 0px;
}

.linea-bianca{
    border-bottom: 1px solid white;
    width: 145px;
    margin-left: 19px;
}

.fa-circle-down{
    margin-right: 5px;
    font-size: 12px;
    padding: 5px;
    margin-left: 6px;
    color: white;
}

.fa-circle-user{
    margin-right: 5px;
    font-size: 25px;
    padding: 5px;
    color: white;
}

.john{
    padding: 5px 0px;
}

.solo-xs{
    display: none;
    width: 60px;
    height: calc(100% - 90px);
    background-color: black;
    position: absolute;
    top:0px
}

.logo-piccolo{
    width: 24px;
    margin: 6px 5px 2px 15px;
}

.john-xs{
    display: none;
    position: absolute;
    bottom: 99px;

}






/*FINTO HEADER*/

.contenitore-bottone{
    width: calc(100% - 172px);
    margin-left: 172px;
    background-color: rgb(32, 27, 27);
    color: white;
    text-align: end;
    padding: 15px 5px;
    height: 70px;
}

.bottone{
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background-color: black;
    padding: 10px 20px;
    font-size: 12px;
    margin-right: 5px;
}

.bottone:hover{
    
    font-size: 15px;
}




/*MAIN*/


main{
    
    margin-left: 172px;
    background-color: #141922;
    width: calc(100% - 172px);
    height: calc(100vh - 160px);
    overflow: scroll;
}

nav{
    width: 100%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px 5px 4px 5px;
    font-size: 12px;
    
}

.testo-nav:hover .linea-verde{
    display: block;
}

.linea-verde{
    width: 44px;
    border: 1px solid lightgreen;
    border-radius: 20px;
    display: block;
    margin-left: 15px;
    display: none;
}


.navbar{
    list-style: none;
    color: #959595;
}

.testo-nav:hover{
    color: white;
}



.testo-nav{
    text-transform: uppercase;
    margin: 0px 5px;
}

.titolo-main{
    color: white;
    font-size: 20px;
    padding: 20px 20px 25px 15px;
}

.contenitore-album{
    width: 100%;
    color: #959595;
    padding: 0px 10px;
}
.album{
    width: calc((100% / 6) - 14px);
    margin: 10px 7px;
    text-align: center;
    padding-bottom: 30px;
  
}

.album:hover .invisibile{
    display: block;
}

.foto-album:hover{
    filter: opacity(.5);
}

.foto-album{
    width: 100%;
    
    
}

.nome-album{
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.nomi-album{
    font-weight: 600;
    font-size: 13px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.testo-album{
    font-size: 12px;
    margin-top: 5px;
}

.per-me{
    width: 35% ;
    margin-left: 15px;
    padding: 10px 0px;
}

.album-creato-per-me{
    width: calc((100% / 2) - 10px);
    margin: 5px 5px;

}
.album-per-me{
    width: 100%;
}

.rotondi{
    overflow: hidden;
    border-radius: 100%;
}

.titolo-per-me{
    font-size: 20px;
    color: white;
    margin-left: 18px;
}

.testo-per-me{
    color: #959595;
    font-size: 15px;
    margin-left: 18px;
    padding: 10px 0px;
}

.invisibile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    
}




.play-inisibile{
    position: relative;
}





/*FOOTER*/

.contenitore-footer{
    width: 100vw;
    background-color: #282828;
    color: white;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    padding: 5px;
    height: 90px;
    
}




.canzone-footer{
    width: 50px;
    margin: 15px 10px;
}

.testo-footer{
    font-size: 8px;
    padding: 25px 5px;
}
.grosso-footer{
    font-size: 10px;
    font-weight: 600;
}

.fa-heart{
    display: flex;
    align-items: center;
    margin-left: 20px; ;
    color: #959595;
}
.fa-heart:hover{
    color: white;
  
}

.fa-folder{
    display: flex;
    align-items: center;
    margin-left: 20px; ;
}

.contenitore-play-footer{
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.play{
    padding: 5px;
    justify-content: center;
}

.fa-circle-play{
    font-size: 30px;
    margin: 0px 10px;
    color: #959595;
}
.fa-circle-play:hover{
    color: white;
}

.fa-shuffle{
    font-size: 15px;
    margin: 8px 10px;
    color: #959595;
}
.fa-shuffle:hover{
    color: white;
}

.fa-angles-left{
    font-size: 15px;
    margin: 8px 10px;
    color: #959595;
}
.fa-angles-left:hover{
    color: white;
}

.fa-angles-right{
    font-size: 15px;
    margin: 8px 10px;
    color: #959595;
}
.fa-angles-right:hover{
    color: white;
}

.fa-arrow-rotate-left{
    font-size: 15px;
    margin: 8px 10px;
    color: #959595;
}
.fa-arrow-rotate-left:hover{
    color: white;
}

.settaggio .fa-list{
    color: #959595;
}
.fa-list:hover{
    color: white;
}
.fa-tv{
    color: #959595;
}
.fa-tv:hover{
    color: white;
}
.fa-volume-high{
    color: #959595;
}

.fa-volume-high:hover{
    color: white;
}
.fa-folder{
    color: #959595;
}
.fa-folder:hover{
    color: white;
}









.time{
    padding: 5px;
    
}

.linea-tempo{
    height: 2px;
    border-radius: 10px;
    margin: 8px 0px;
}

.prima{
    width: 100px;
    color: white;
    border: 2px solid white;
}

.prima:hover{
    border: 2px solid lightgreen;
}

.dopo{
    width: 250px;
    color: white;
    border: 2px solid gray;
}

.minuti{
    font-size: 10px;
    margin:4px 25px ;
}

.settaggio{
    align-items: center;
}

.settaggio .fa-solid{
    font-size: 15px;
    padding: 5px;
    margin-right: 10px;
}
.piccola{
    width: 20px;
}
.grande{
    width: 40px;
}








/*MEDIA QUERY TABLET*/

@media screen and (max-width:768px){

    .contenitore-album{
        flex-wrap: wrap;
    }

    .album{
        width: calc((100% / 4) - 14px);
        margin: 10px 7px;
        flex-wrap: wrap;
    }

    .navbar{
        flex-wrap: wrap;
        justify-content: center;
    }
    .testo-nav{
        margin: 0px 15px;
        padding-top: 13px;
       
    }

    
}

/*MEDIA QUERY CELL*/

@media screen and (max-width: 576px){

    .contenitore-album{
        flex-wrap: wrap;
    }

    .album{
        width: calc((100% / 2) - 14px);
        margin: 10px 7px;
        flex-wrap: wrap;
    }

    .navbar{
        flex-wrap: wrap;
        justify-content: center;
    }
    .testo-nav{
        margin: 0px 20px;
        padding-top: 13px;
       
    }

   
}

/*MEDIA QUERY XS*/

@media screen and (max-width: 550px){

    .solo-xs{
        display: block;
    }

    .contenitore-header{
        display: none;
    }

    .contenitore-bottone{

        width: calc(100% - 60px);
        margin-left: 60px;
    }

    main{
        width: calc(100% - 60px);
        margin-left: 60px;
    }

    .fa-house{
        font-size: 15px;
    }
    .fa-magnifying-glass{
        font-size: 15px;
    }
    .fa-list{
        font-size: 15px;
    }

    .fa-magnifying-glass{
        margin-left: 5px;
    }
    .fa-list{
        margin-left: 5px;
    }

    .john-xs{
        display: block;
    }

    .linea-bianca{
        display: none;
    }

    .fa-circle-down{
        margin-left: 6px;
    }

    .navbar{
        flex-wrap: wrap;
        justify-content: center;
    }
    .testo-nav{
        margin: 0px 16px;
        padding-top: 13px;
       
    }


}


