*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

/*HEADER*/

.contenitore-header{
    width: 20%;
    background-color: black;
    color: white;
    height: 841px;
}


.spotify{
    width: 70%;
    padding: 15px;
   
}

.cont-icone-parole{
    padding: 5px 15px;
}

.verde{
    border-left: 3px solid greenyellow;
}

.testo-icone{
    font-size: 16px;
    font-weight: 500;
}

.grosso{
    font-weight: 600;
}

.fa-solid{
    margin-right: 5px;
    font-size: 20px;
}

.titolo-playlist{
    text-transform: uppercase;
    padding: 5px 15px;
    margin-top: 20px;
}

.fa-square-plus{
    font-size: 38px;
    margin-right: 5px;
}

.playlist{
    padding: 10px;
}

.testo-playlist{
    padding: 5px 15px;
}

.bordo{
    border-bottom: 1px solid white;
}

.fa-circle-down{
    margin-right: 5px;
    font-size: 12px;
    padding: 5px;
}

.fa-circle-user{
    margin-right: 5px;
    font-size: 25px;
    padding: 5px;
}

.john{
    padding: 5px 0px;
}
